
.u-text:not(ul):not(ol):not(p):not(.u-post-content):not(.u-block-content):not(.u-product-desc):not(.u-cart-block-content):not(.u-checkout-block-content) a {
  color: inherit;
}
.u-text:not(ul):not(ol):not(p):not(.u-post-content):not(.u-block-content):not(.u-product-desc):not(.u-cart-block-content):not(.u-checkout-block-content) a,
.u-text:not(ul):not(ol):not(p):not(.u-post-content):not(.u-block-content):not(.u-product-desc):not(.u-cart-block-content):not(.u-checkout-block-content) a:hover {
  text-decoration: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

.u-clearfix:after,
.u-clearfix:before {
  content: '';
  display: table;
}

.u-spacing-10.u-icon,
.u-spacing-10.u-search-icon,
.u-spacing-10.u-gallery-nav,
.u-spacing-10.u-carousel-control {
  padding: 10px;
}
.u-layout-row > .u-size-15 {
  flex: 0 0 25%;
  max-width: 25%;
  min-width: 25%;
}

.u-gutter-32.u-layout-spacing-top {
  padding-top: 32px;
}
.u-gutter-32.u-layout-spacing-top-bottom {
  padding: 32px 0;
}
.u-gutter-32.u-layout-spacing-left-right {
  padding: 0 32px;
}
.u-gutter-32.u-layout-spacing-all {
  padding: 32px;
}
.u-gutter-30 .u-layout {
  margin: -15px;
}
.u-gutter-30 .u-layout .u-layout-cell {
  border: 15px solid transparent;
}
.u-gutter-30.u-layout-spacing-top {
  padding-top: 30px;
}
.u-gutter-30.u-layout-spacing-top-bottom {
  padding: 30px 0;
}
.u-gutter-30.u-layout-spacing-left-right {
  padding: 0 30px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .u-layout-col > * {
    flex-basis: auto !important;
  }
}

.u-layout-col,
.u-layout-row,
.u-layout-col > * {
  display: flex;
}
.u-layout-col,
.u-layout-row {
  flex: 1 1 100%;
}
.u-layout-row > * {
  max-height: 100%;
  min-height: -webkit-fit-content;
  min-height: fit-content;
}
.u-layout-col > * {
  min-height: -webkit-fit-content;
  min-height: fit-content;
  max-width: 100%;
}


.u-layout-row {
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100%;
  max-width: 100%;
}
.u-layout-cell {
  position: relative;
  display: flex;
  background-clip: padding-box;
  background-origin: padding-box;
}
.u-palette-4-base,
.u-body.u-palette-4-base,
.u-palette-4-base > .u-container-layout:before,
.u-container-style.u-palette-4-base:before,
.u-container-layout.u-container-layout.u-palette-4-base:before,
.u-table-alt-palette-4-base tr:nth-child(even) {
  color: #ffffff;
  background-color: #2cccc4;
}
.u-white,
.u-body.u-white,
.u-white > .u-container-layout:before,
.u-container-style.u-white:before,
.u-container-layout.u-container-layout.u-white:before,
.u-table-alt-white tr:nth-child(even) {
  color: #111111;
  background-color: #ffffff;
}

.u-link.u-text-grey-25:hover {
  color: #adadad !important;
}
a.u-link.u-text-hover-grey-25:hover {
  color: #c0c0c0 !important;
}
.u-text-grey-50,
li.active > a.u-button-style.u-text-grey-50,
li.active > a.u-button-style.u-text-grey-50[class*="u-border-"],
a.u-button-style.u-text-grey-50,
a.u-button-style.u-text-grey-50[class*="u-border-"] {
  color: #808080 !important;
}

        h1:not(.u-title)
        {
        font-weight: 400;
        font-size: 3rem;
        line-height: 1.1;
        margin-top: 20px;
        margin-bottom: 20px;
        }
        h2:not(.u-subtitle)
        {
        font-weight: 400;
        font-size: 2.25rem;
        line-height: 1.1;
        margin-top: 20px;
        margin-bottom: 20px;
        }
        h3
        {
        font-weight: 400;
        font-size: 1.875rem;
        line-height: 1.2;
        margin-top: 20px;
        margin-bottom: 20px;
        }
        h4
        {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.2;
        margin-top: 20px;
        margin-bottom: 20px;
        }
        h5
        {
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 1.2;
        margin-top: 20px;
        margin-bottom: 20px;
        }
       